<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js">
    <head>
        <meta http-equiv="refresh" content="3" />


    </head>

    <body >

      <h5>These orders will be shown on screen in kitchen</h5>


<ul>
{% for obj in object_list %}
    <li> {{ obj }} 
    
     {{ obj.id }} <br> <br>{{ obj.date_placed }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}
    </li>

    {% for key,val in items_in_orders.items %}
    
    	{% if obj.id == key %}
    	
    		{% for v in val %}
    			<option value="{{v}}">{{v}}</option>
    		{% endfor %}
    	
    	{% endif %}	
    
    {% endfor %}
    </li>

    <br>
    <br>

   


{% endfor %}




</ul>

   




    </body>
</html>




