{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<ul class="basket-mini-item list-unstyled">
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <div class="">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail cartelementleftmargin" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p style="margin-left:0px;"><strong><a style="color: white;" href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></strong></p>
                    </div>
                    <div class="col-md-2 align-center cartelementleftmargin" style="padding-top:10px;color: white;"><strong>{% trans "Qty" %}</strong> {{ line.quantity }}</div>
                    <div class="col-md-2 price_color align-right cartelementleftmargin" style="padding-left:25px; padding-top: 10px;">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                </div>
            </li>
        {% endfor %}
        <li class="form-group form-actions" style="background-color:transparent">
            <p class="align-right">
                {% if request.basket.is_tax_known %}
                    <small style="color:white">{% trans "Total:" %} {{ request.basket.total_incl_tax|currency:request.basket.currency }}</small> 
                {% else %}
                    <small style="color:white"></small>>{% trans "Total:" %} {{ request.basket.total_excl_tax|currency:request.basket.currency }}</small> 
                {% endif %}
            </p>
            <a style="float:left;" href="{% url 'basket:summary' %}" class="btn btn-info btn-sm">{% trans "View basket" %}</a>
            <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-sm pull-right"><i class="icon-shopping-cart"></i> {% trans "Checkout" %}</a>
        </li>
    {% else %}
        <li><p style="color:white;">{% trans "Your basket is empty add some items." %}</p></li>
    {% endif %}
</ul>
